
 <div class="container startPage">
  <div class="row">
      <h1 class="col-6 text-center">魔王城</h1>
  </div>
  <div class="row">
    <p class="col-6 text-center"><%= link_to "突入する", new_user_session_path %></p>
    <p class="col-6 text-center"><%= link_to "新規登録", new_user_registration_path %></p>
  </div>
 </div>
