// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  background-image: url(/assets/images/shiro.jpg);
  // background-color: burlywood;
  height: 100%;
  background-size: cover;
}