<h1>悪魔の部屋</h1>

<%= image_tag 'game2.png', :size =>'100x100'%>

<h4>悪魔が現れた。</h4>
<h4>10秒以内に、30回悪魔を攻撃して倒そう！</h4>

<div id="disp_count">0</div>
<input type="button" value="カウントアップ" id="btn_count_up" />


<script>

     // オブジェクトと変数の準備
     var count_disp = document.getElementById("disp_count");  
    //  変数を宣言、count_dispにelement要素をいれる

     var count_up_btn = document.getElementById("btn_count_up");
    //  変数を宣言、カウントアップのボタンにelement要素を入れる

     var count_value = 0;
     // 初期値

     // カウントアップボタンクリック処理
     //  クリックしたときに起こる
    //  count_valueを1ずつ足して増やしていく
    //  countdispを変化させる、countvalueで。宣言時ているから反映される

     count_up_btn.onclick = function (){
          count_value += 1;
          count_disp.innerHTML = count_value;
     };

     // カウントアップボタンのマウスダウン処理
     count_up_btn.onmousedown = function() {
          count_up_btn.style.backgroundColor = "#00FF00";
     }
     // カウントアップボタンのマウスアップ処理
     count_up_btn.onmouseup = function() {
          count_up_btn.style.backgroundColor = "";
     }

// 全体的に一度要素を取り出してエレメント要素にして、それを書き換えるみたいな感じ


// タイマー（押すとカウントが始まる）
// 測定時間の設定
// var sec =10;

// 開始時間の設定
// var sec =0


</script>