<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>マイページです。</h1>

<h2>あなたの情報</h2>

<h3>ここに画像を表示する</h3>

<p>名前：</p> <%=  @user.name %><br>
<p>メアド：</p> <%= @user.email %><br>
<P>自己紹介：</p> <%= @user.introduction %>

<p>違うゲームに行くリンク「魔王と戦う」みたいにしたい。ボタンで</p>